<div class="col-sm-12-footer">
  <div class="container-sm-12 container-md-12 container-lg">
    <div class="row">
      <div class="col-lg-6">
        <div class="foot-map">
          <img src="./assets/images/footer/map.png" class="img-fluid">
        </div>
      </div>
      <div class="col-md">
        <div class="foot-details">
          <ul>
            <h5>Στοιχεία επικοινωνίας</h5>
            <div>
              <img src="./assets/images/footer/locationIcon.webp" height="17px" width="15px" style="margin-right: 10px;">
              <b>Μιχαλακοπούλου 38</b>
            </div>
            <div>
              <img src="./assets/images/footer/phoneIcon.png" height="17px" width="15px" style="margin-right: 10px;">
              <b>215 215 4425</b>
            </div>
            <div>
              <img src="./assets/images/footer/mailIcon.png" height="13px" width="15px" style="margin-right: 10px;">
              <b>sales@servitwra.gr</b>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="foot-newsletter">
          <ul>
            <div>
              <h5>Newsletter</h5>
            </div>
            <div>
              <p><b>Γραφτείτε στο newsletter μας</b></p>
            </div>
            <div>
              <form class="form-inline">
                <input class="form-control" placeholder="Εισάγετε το email σας...">
                <button class="btn btn-dark" type="submit">
                  <img src="./assets/images/footer/plusIcon.png" height="25px" width="25px">
                </button>
              </form>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" style="background-color: #ededdd;">
    <span class="foot_row">
      <div class="container-sm-12 container-md-12 container-lg">
          <div class="row">
            <div class="col-lg-6">
                <span class="cp"><b>ΣερβιΤΩΡΑ © 2021 | Powered by</b>
                  <a href="https://www.businesscloud.gr/" class="BC_link">
                    <b> Businesscloud.gr</b>
                  </a>
                </span>
            </div>
            <div class="col-lg-6">
              <span class="cp2">
                <ul class="p_methods">
                  <li>
                    <img src="./assets/images/footer/1.webp" class="p_m">
                  </li>
                  <li>
                    <img src="./assets/images/footer/2.png" class="p_m">
                  </li>
                  <li>
                    <img src="./assets/images/footer/3.webp" class="p_m">
                  </li>
                  <li>
                    <img src="./assets/images/footer/4.png" class="p_m">
                  </li>
                  <li>
                    <img src="./assets/images/footer/5.png" class="p_m">
                  </li>
                  <li>
                    <img src="./assets/images/footer/6.png" class="p_m">
                  </li>
                  <li>
                    <img src="./assets/images/footer/7.jpg" style="height: 40px; width: 100px;">
                  </li>
                </ul>
              </span>
            </div>
          </div>
      </div>
  </span>
</div>
